<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link href="reset.css" rel="stylesheet" />
    <link href="output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>

    <section class="flex justify-start">
      <aside
      class="p-7 border-solid border-4 border-indigo-500/100 border-x-indigo-500 bg-black text-white flex-none "
      >
        <a href="{{homeLink}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Home</a>
        <a href="{{exploreLink}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Explore Blogs</a>
      </aside>
      <article
      class="p-7 border-solid border-4 border-indigo-500/100 border-x-indigo-500 bg-red-600 flex-auto"
      >
        <form action="{{formAction}}" method="POST">  
            <div class="container"> 
                <h1>{{formTitle}}</h1>  
                <label>Email : </label>   
                <input type="text" id="email-recovery" placeholder="{{emailPlaceholder}}" name="email" required>   
                <button type="submit">{{submitButtonText}}</button>   
                <button type="button" class="cancelbtn">{{cancelButtonText}}</button>     
            </div>   
        </form>     
      </article>
    </section>
    <footer
      class="p-7 border-solid border-4 border-indigo-500/100 border-x-indigo-500 bg-red-600"
    >
      <p>{{footerText}}</p>
    </footer>
  </body>
</html>
